{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  href="{% static 'static/style.css' % }" type="text/css">
  <img src="{%  static 'jai.jpg' %}" alt="My image">
</head>
<body>

<div class="container-fluid">
  <h1>Hello World!</h1>
  <p>this is america</p>
  <p>The columns will automatically stack on top of each other when the screen is less than 768px wide.</p>
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
    <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
  </div>
</div>
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
</body>
</html>
